<!DOCTYPE html>
<html>
<head>
<style>
body {
    background-color: #b3c6ff;
}
</style>
</head>
<body>

h1 {
    color: white;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
}
</body>
</html>
